<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
          <h1>Welcome to Chitter</h1>
  </head>
  <body>

    <form action="/new_peeps" method="POST">
      <label for="peeps">Peeps</label>
      <br>
      <textarea id="peeps" name="peeps" rows="3" cols="20"></textarea>
    </form>

  </body>
</html>
